{
  "extends": [
    "standard",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "no-extend-native": 0,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "parser": "babylon",
        "semi": false
      }
    ]
  }
}
